<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trail Mix</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.1.2/mustache.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>


  <body>
    <div class="jumbotron">
      <img class="logo" alt="logo" src="./images/Artboard1.png">
    </div> <!--close class="jumbotron"-->
    <div class="container">
      <div class="row-spacer" id="trails"></div> <!-- target to which index of trails will be appended-->
      <div class="col-md-4 add">
        +
        <!-- <img class="img-responsive" src="https://www.iconfinder.com/data/icons/simple-toolbar/512/add_plus_new_user_green_page_file_up_text-512.png">-->
      </div>
      <div id="modal-target"></div>
      <div id="update-modal-target"></div>
      <div id="delete-modal-target"></div>
    </div> <!-- end of container div -->

    <!-- The create Modal -->
    <div id="addModal" class="modal" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span>
               <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Add your new trail</h4>
          </div>
      <!-- Add Modal content -->
      <div class="modal-body">
        <form class="form-horizontal col-md-12" id="addForm">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label"> Name</label>
          <input type="text" class="form-control col-sm-10" name="name" placeholder="Trail name">
        </div>
        <div class="form-group">
          <label for="distance" class="col-sm-2 control-label">Distance</label>
          <input type="text" class="form-control col-sm-10" name="distance" placeholder="distance in miles">
        </div>
        <div class="form-group">
          <label for="difficulty" class="col-sm-2 control-label">Difficulty</label>
          <input type="number" class="form-control col-sm-10" name="difficulty" placeholder="difficulty on a scale of 1 to 5">
        </div>
        <div class="form-group">
          <label for="image" class="col-sm-2 control-label"> Image</label>
          <input type="text" class="form-control col-sm-10" name="image" placeholder="trail.jpg">
        </div>
        <div class="form-group">
          <label for="link class="col-sm-2 control-label""> Link to website</label>
          <input type="text" class="form-control col-sm-10" name="link" placeholder="external website link">
        </div>
        <div class="form-group">
          <label for="trailMap" class="col-sm-2 control-label"> Trail Map</label>
          <input type="text" class="form-control col-sm-10" name="trailMap" placeholder="trail map.jpg">
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Add New Trail</button>
        </div>
      </div>
     </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
      </div>

    </div>
  </div>
</div> <!-- End of create trail modal -->

    <!-- Trail Cards Template -->
    <script id="trails-template" type="x-tmpl-mustache">
      <div class="col-md-4 card row-spacer">
        <img src="{{image}}" alt="{{name}}" class="img-responsive" data-toggle="modal" data-target="{{_id}}">
        <h4>{{name}}</h4><button type="button" class="btn btn-secondary btn-sm update-btn" data-toggle="modal" data-id="{{_id}}" data-target="#update-modal-template">Update Trail</button>
        <button type="button" class="btn btn-secondary btn-sm delete-btn" data-toggle="modal" data-id="{{_id}}" data-target="#delete-modal">Delete Trail</button>
      </div>
    </script> <!-- end of Trail Cards Template -->

    <!-- Info Modal Template -->
    <script id="info-modal-template" type="x-tmpl-mustache">
      <div class="modal" id="{{_id}}" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{name}}</h4>
            </div>
            <div class="modal-body">
              <img class="img-responsive" src="{{trailMap}}" alt="trail map image">
              <h5>More Information:</h5><a href="{{link}}" target="_blank">{{link}}</a>
              <h5>Distance: {{distance}}</h5>
              <h5>Difficulty: {{difficulty}}</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
            </div>
          </div>
        </div>
      </div>
    </script> <!-- end of Info Modal Template -->

    <!-- Update Modal Template -->
    <div id="update-modal" class="update-modal modal" data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content updateContent">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="form-horizontal row-spacer col-md-12" id="updateForm">
              <h4>Update Trail:</h4>
              <div class="form-group">
                <label for="name">Name</label>
                <input id="updatedTrailName" type="text" class="form-control" name="name" placeholder="Trail Name">
              </div>
              <div class="form-group">
                <label for="trailMap">Trail Map</label>
                <input id="updatedTrailMap" type="text" class="form-control" name="trailMap" placeholder="http://www.mappery.com/maps/Presidio-Trail-and-Overlook-Map.png">
              </div>
              <div class="form-group">
                <label for="distance">Distance</label>
                <input id="updatedDistance" type="text" class="form-control" name="distance" placeholder="3.5">
              </div>
              <div class="form-group">
                <label for="difficulty">Difficulty</label>
                <input id="updatedDifficulty" type="text" class="form-control" name="difficulty" placeholder="2">
              </div>
              <div class="form-group">
                <label for="link">Link to More Info</label>
                <input id="updatedInfoLink" type="text" class="form-control" name="moreInfo" placeholder="http://www.presidio.gov/trails/batteries-to-bluffs-trail">
              </div>
              <div class="form-group">
                <label for="trailImage">Trail Image</label>
                <input id="updatedImage" type="text" class="form-control" name="trailImage" placeholder="http://www.campbellgradinginc.com/sites/campbellgradinginc.com/files/upload/btb_overall_treve_pic.jpg">
              </div>
            </div> <!-- end of Update Modal body -->
            <div class="update-modal-footer modal-footer">
              <button type="submit" class="submit btn btn-default pull-right">Save Updates</button>
            </div>
          </form>
        </div> <!-- end of Update Modal content -->
      </div> <!-- end of Update Modal dialog -->
    </div> <!-- end of Update Modal -->

<!-- delete modal template --->
    <div id="delete-modal" class="delete-modal modal" data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
               data-dismiss="modal">
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
            </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this trail?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" id="confirmDelete" class="btn btn-primary">Confirm Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

  </body>
</html>
